<div class="container text-center mt-5">
<h1 class="mb-5">Ask a question!</h1>



<div class="container d-flex flex-column align-items-center">

<form method="get" action="./answer" data-turbo="false" class="w-100">
  <input type="text" name="answer" class="form-control mb-3" >
  <input type="submit" value="Ask!" class="btn btn-primary w-100">
</form>

</div>
</div>
